<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Node.js for Embedded Systems</title>
  <link rel="stylesheet" href="../css/main.css">
  <meta name="keywords" content="javascript,embedded,controllers,programmable,led,microcontroller,pcb,starter,kit,arduino,nano,mega,uno,led,bits,bytes">
  
  
</head>

<body>
<header>
  <span class="site">
    <h1>Node.js for Embedded Systems</h1>
  </span>

  <nav>
    <ul>
      <li><a href="/">The Book</a></li>
      <li><a href="https://github.com/embeddednodejs">Code Repository</a></li>
    </ul>
 
   <ul class="contact">
   </ul>
  </nav>

</header>

<article class="infobar right">
<p>
   The book <a href="http://shop.oreilly.com/product/0636920041504.do">Node.js for embedded systems</a> explores how a web technology can change the way we build hardware. 
</p>
<p>
Please help to make the book and website better: <a href="mailto:info@embeddednodejs.com">Email Us</a> 
</p>
<iframe src="http://www.oreilly.com/authors/widgets/736.html" height="500px" width="200px" scrolling="no" frameborder="0"></iframe>
</article>


<aside id="toc"><h1 id="chapters">Chapters</h1>
<ol>
<li><a href="/js-on-hardware">Connecting Worlds</a></li>
<li><a href="/blinkarduino">Blink with Arduino</a></li>
<li><a href="/espruino">Espruino</a></li>
<li><a href="/tessel2">Tessel 2</a></li>
<li><a href="/photon">Photon</a></li>
<li><a href="/sbc">Single Board Computers</a></li>
<li><a href="/components">Components</a></li>
<li><a href="/libs">Node.js Libraries for Hardware</a></li>
<li><a href="/http">Exploring Network Protocols</a></li>
<li><a href="/webinterfaces">Web Interfaces</a></li>
<li><a href="/enteringcloud">Entering the Cloud</a></li>
<li><a href="/nodebots">Making Robots with Node.js</a></li>
<li><a href="/bluetooth">Wireless Data with Bluetooth</a></li>
<li><a href="/toward">Toward the Physical Internet</a></li>
<li><a href="/products">From Products to Toolkits</a></li>
</ol>
</aside>

<section class="middle" id="main-links">
   <article id ="links" class="overview chapter"><h1 id="chapter-7-components-for-prototyping">Chapter 7: Components for Prototyping</h1>
<p>This chapter discusses usage of parts and components in an embedded device. When you connect multiple components, they form a circuit.</p>
<h2 id="grove-kit">Grove Kit</h2>
<p>If you have a software background, you might lack some solder experience. In this case, Grove kit components and components can help you to start building circuits. </p>
<p>The idea of the <a href="http://www.seeedstudio.com/wiki/Main_Page">Grove kit </a> is explained in the Wiki of Seeedstudio.  First, you need a <a href="http://www.seeedstudio.com/depot/Base-Shield-V2-p-1378.html?cPath=98_16">Base shield</a> such as for Arduino Uno.</p>
<p>To the base shield, you can plug one or multiple Grove kit components:</p>
<ul> 
    <li><a href="http://www.seeedstudio.com/wiki/Grove_System">Grove Kit components</a></li> 
   <li><a href="http://www.seeedstudio.com/wiki/Grove_-_Thumb_Joystick">Thumb Joystick</a></li> 
</ul> 

<p>Note that you find the Grove head for the Arduino Nano here: <a href="https://www.tindie.com/products/imrehg/grovehat-for-arduino-nano/">Arduino Nano Grove Headers</a></p>
<h2 id="breakout-boards-and-shields">Breakout Boards and Shields</h2>
<p>For Arduino, you will find circuits as breakout boards and shields such as: <a href="https://rheingoldheavy.com/i2c-and-spi-education-shield-functionality-overview/">I2C Education Shield</a>. With this shield, you get a temperature sensor, a real time clock and other components ready made for experimentation.</p>
<h2 id="design-your-own-pcb">Design your own PCB</h2>
<p>Instead of buying, you can learn how to build your own break out boards. For this, learning a CAD program such as <a href="https://cadsoft.io/">Eagle</a> or <a href="http://kicad-pcb.org/download/">Kicad</a>. you can find ideas for circuits on sites such as <a href="http://www.schematics.com/">schematics.com</a>. </p>
<p>A nice collection of basic breakout boards can be found in this <a href="https://github.com/stefan-lochbrunner/breadboard-widgets">github repo</a> by Stefan Lochbrunner.</p>
<p>A nice Node.js project to render PCB is <a href="https://www.npmjs.com/package/pcb-stackup">pcb-stackup</a>. </p>
<p><img src="/images/pcb_stackup.png" /></p>
<p>Many projects to make sharing of hardware easier are currently built. One such project is <a href="https://kitnic.it/">kitnic.it</a>. This platform was presented by <a href="https://twitter.com/kaspar_e">Kaspar Emanuel</a> at <a href="https://fosdem.org/2017/schedule/event/kitnic_it/">FOSDEM 2017</a>.</p>
<h2 id="shops">Shops</h2>
<p>There are bunch of websites and shops for sourcing components from the internet.</p>
<p>The main places are places such as <a href="https://sparkfun.com">Sparkfun</a> or <a href="http://adafruit.com">Adafruit</a>. To search <a href="http://ebay.com">ebay.com</a> or <a href="https://alibaba.com">alibaba - a sort of chinese ebay - </a>, the <a href="http://www.mysensors.org/">MySensors components search engine</a> is helpful. Another one is <a href="https://www.controleverything.com/products">ControlEverything</a>.</p>
<p>To build setups with &quot;custom&quot; components, <a href="tindie.com">tindie</a> can be interesting. For example, you can find the <a href="https://www.tindie.com/products/imrehg/grovehat-for-arduino-nano/">Grove Hat for Arduino Nano</a> to build a cheap Arduino based experimenters kit.</p>
<h2 id="community-forums-and-blogs">Community, forums and blogs</h2>
<ul>
<li><p>A good forum to learn about PCB design is the <a href="http://www.eevblog.com/forum/eda/?PHPSESSID=063c7a9e5e43800c1319b8bd7b63ab63">EEVblog forum</a></p>
</li>
<li><p>A nice blog to learn about PCBs is from <a href="https://www.bunniestudios.com/">Bunny Studios</a></p>
</li>
</ul>
<h1 id="sensors">Sensors</h1>
<p>Sensors act as inputs to an embedded systems. Sensors can transport data in analog or digital form. Some sensor types are especially popular:</p>
<h2 id="temperature">Temperature</h2>
<p>Temperature sensors can be good places to learn more on types and functions of sensors:</p>
<ul>
<li>The <a href="https://datasheets.maximintegrated.com/en/ds/DS18B20.pdf">DS18B20</a>: This digital sensor transports temperature on 1 pin with a one-wire protocol. The sensor accuracy is around 0.5°C per bit.</li>
<li>Combination of <a href="https://cdn-shop.adafruit.com/datasheets/MAX6675.pdf">MAX6675</a> and thermocouple: This device converts an analog signal from a thermogocuple into a digital signal that a microcontroller can use.</li>
</ul>
</article>
</section>

<section class="note">
<p>These links may be useful to get started with Node.js and embedded systems.</p>
<p>If you find new links or broken links, <a href="https://github.com/embeddednodejs/embeddednodejs.github.io/issues">please let us know</a>.
</p>
</section>



<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("cd92beda435a863a4a96f8852e520f30");</script><!-- end Mixpanel -->


<script id="track">mixpanel.track("components")</script>

</body>
</html>

