body {
	font-family: helvetica, arial;

}

.container {
	width: 960px;
	margin: 20px;

}

.left {
	float: left;
	width: 400px;
}

textarea {
	width: 350px;
	min-height: 180px;

}

button {
	clear: both;
	width: 80px;
	margin: 12px;

}

.right {
	float: right;
	width: 400px;

}
